<a href="https://colab.research.google.com/github/orsonmat/RETOS-TLG-ORSINI/blob/main/RetoEmpleados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

#Cargar base de datos de empleados
EmpleadosAttrition = pd.read_csv('/content/EMPLEADOS.csv')

EmpleadosAttrition.head(5)

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,Gender,...,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,StandardHours,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,1,997,4,Male,...,22,4,3,80,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,1,178,2,Male,...,20,4,4,80,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,1,1780,2,Male,...,13,3,2,80,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,1,1118,2,Male,...,19,3,4,80,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,1,582,2,Male,...,12,3,4,80,15,2,4,6,7,Yes

In [70]:
# Eliminación de variables (columnas) con información irrelevante
# EmployeeCount , EmployeeNumber , Over18, StandardHours

EmpleadosAttrition = EmpleadosAttrition.drop(['EmployeeCount', 'EmployeeNumber', 'Over18', 'StandardHours'], axis=1)

EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,OverTime,PercentSalaryHike,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,No,22,4,3,32,1,2,4,1,No
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,No,20,4,4,7,0,3,2,0,No
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,No,13,3,2,1,3,3,0,1,Yes
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,No,19,3,4,18,4,3,6,4,No
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,Yes,12,3,4,15,2,4,6,7,Yes

In [71]:
# Calcular el tiempo total del empleado en la compañia

# Calcular año de contratación a partir de la fecha exacta de contratación

EmpleadosAttrition['Año'] = pd.to_datetime(EmpleadosAttrition['HiringDate']).dt.year.astype(int)

ValueError: day is out of range for month, at position 229. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [73]:
#Validar la posición con error
EmpleadosAttrition['HiringDate'].iloc[229]

'2/30/2012'

In [74]:
# Ajustar el error en los datos
EmpleadosAttrition['HiringDate'].iloc[229]= '2/28/2012'

<ipython-input-74-1c97f5843b82>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  EmpleadosAttrition['HiringDate'].iloc[229]= '2/28/2012'

In [75]:

# Calcular nuevamente el año de contratación a partir de la fecha exacta de contratación

EmpleadosAttrition['Año'] = pd.to_datetime(EmpleadosAttrition['HiringDate']).dt.year.astype(int)
EmpleadosAttrition['Año']. head()

0    2013
1    2015
2    2017
3    2010
4    2011
Name: Año, dtype: int64

In [76]:

# Calcular los años de antiguedad en la empresa hasta el 2018 (incluido el 2018)
EmpleadosAttrition['YearsAtCompany'] = 2018 - EmpleadosAttrition['Año'] + 1
EmpleadosAttrition['YearsAtCompany'].head()

0    6
1    4
2    2
3    9
4    8
Name: YearsAtCompany, dtype: int64

In [77]:
# Cambiar nombre de la columna DistanceFromHome a DistanceFromHome_km

EmpleadosAttrition = EmpleadosAttrition.rename(columns={'DistanceFromHome': 'DistanceFromHome_km'})
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,Año,YearsAtCompany
0,50,Travel_Rarely,Research & Development,1 km,2,Medical,4,Male,3,4,...,4,3,32,1,2,4,1,No,2013,6
1,36,Travel_Rarely,Research & Development,6 km,2,Medical,2,Male,3,2,...,4,4,7,0,3,2,0,No,2015,4
2,21,Travel_Rarely,Sales,7 km,1,Marketing,2,Male,3,1,...,3,2,1,3,3,0,1,Yes,2017,2
3,52,Travel_Rarely,Research & Development,7 km,4,Life Sciences,2,Male,3,3,...,3,4,18,4,3,6,4,No,2010,9
4,33,Travel_Rarely,Research & Development,15 km,1,Medical,2,Male,3,3,...,3,4,15,2,4,6,7,Yes,2011,8

In [78]:
# Eliminar letras km de la columna DistanceFromHome_km

EmpleadosAttrition['DistanceFromHome_km'] = EmpleadosAttrition['DistanceFromHome_km'].astype(str).str.replace('km','').str.strip().astype(int)
EmpleadosAttrition['DistanceFromHome_km'].head()

0     1
1     6
2     7
3     7
4    15
Name: DistanceFromHome_km, dtype: int64

In [79]:
#Eliminar columnas Año y HiringDate pues ya no son necesarias

EmpleadosAttrition = EmpleadosAttrition.drop(['Año', 'HiringDate'], axis=1)

In [81]:
#Revisar estructura de la informacón despues de todos los cambios
EmpleadosAttrition.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            396 non-null    object
 2   Department                400 non-null    object
 3   DistanceFromHome_km       400 non-null    int64
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    object
 6   EnvironmentSatisfaction   400 non-null    int64
 7   Gender                    400 non-null    object
 8   JobInvolvement            400 non-null    int64
 9   JobLevel                  400 non-null    int64
 10  JobRole                   400 non-null    object
 11  JobSatisfaction           400 non-null    int64
 12  MaritalStatus             395 non-null    object
 13  MonthlyIncome             400 non-null    int64
 14  NumCompaniesWorked        400 non-null    int64
 15  OverTime                  400 non-null    object
 16  PercentSalaryHike         400 non-null    int64
 17  PerformanceRating         400 non-null    int64
 18  RelationshipSatisfaction  400 non-null    int64
 19  TotalWorkingYears         400 non-null    int64
 20  TrainingTimesLastYear     400 non-null    int64
 21  WorkLifeBalance           400 non-null    int64
 22  YearsInCurrentRole        400 non-null    int64
 23  YearsSinceLastPromotion   400 non-null    int64
 24  Attrition                 400 non-null    object
 25  YearsAtCompany            400 non-null    int64
dtypes: int64(18), object(8)
memory usage: 81.4+ KB

In [84]:
# Se han detectado valores nulos en el estatus marital, se reemplazaran por la moda de los datos

EmpleadosAttrition['MaritalStatus']= EmpleadosAttrition['MaritalStatus'].fillna(EmpleadosAttrition['MaritalStatus'].mode()[0])
EmpleadosAttrition['MaritalStatus'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 400 entries, 0 to 399
Series name: MaritalStatus
Non-Null Count  Dtype
--------------  -----
400 non-null    object
dtypes: object(1)
memory usage: 3.3+ KB

In [85]:
# Dataframe con sueldo promedio por departamento

# Agrupar por departamento y calcular el promedio del ingreso mensual
SueldoPromedio = EmpleadosAttrition.groupby('Department')['MonthlyIncome'].mean().reset_index()

# Renombrar las columnas para mayor claridad
SueldoPromedio = SueldoPromedio.rename(columns={'MonthlyIncome': 'PromedioSueldoMensual'})

# Mostrar el nuevo DataFrame
SueldoPromedio

               Department  PromedioSueldoMensual
0         Human Resources            6239.888889
1  Research & Development            6804.149813
2                   Sales            7188.250000

In [88]:
# Escalado de variable MonthlyIncome mediante normalización min-max

from sklearn import preprocessing

# Objeto para escalar con MinMax
scaler = preprocessing.MinMaxScaler()

# Transformar la columna MonthlyIncome con método MinMax
EmpleadosAttrition['MonthlyIncome_scaled'] = scaler.fit_transform(EmpleadosAttrition[['MonthlyIncome']])

In [92]:
# Validar columna escalada

EmpleadosAttrition['MonthlyIncome_scaled'].describe()

count    400.000000
mean       0.311196
std        0.258308
min        0.000000
25%        0.106939
50%        0.222711
75%        0.462745
max        1.000000
Name: MonthlyIncome_scaled, dtype: float64

In [98]:
#Eliminar columna original MonthlyIncome

EmpleadosAttrition = EmpleadosAttrition.drop(['MonthlyIncome'], axis=1)

In [99]:
# Convertir variables categóricas a numéricas usando Label Encoding

from sklearn.preprocessing import LabelEncoder

# Crear un objeto LabelEncoder
label_encoder = preprocessing.LabelEncoder()

# Crear bucle for para cada columna que se desea transformar con LabelEncoder

for column in ['BusinessTravel', 'Department', 'EducationField', 'Gender', 'JobRole', 'MaritalStatus', 'Attrition','OverTime']:
    EmpleadosAttrition[column] = label_encoder.fit_transform(EmpleadosAttrition[column])

# Verificar los cambios
EmpleadosAttrition.head()

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,MonthlyIncome_scaled
0,50,2,1,1,2,3,4,1,3,4,...,4,3,32,1,2,4,1,0,6,0.864269
1,36,2,1,6,2,3,2,1,3,2,...,4,4,7,0,3,2,0,0,4,0.207340
2,21,2,2,7,1,2,2,1,3,1,...,3,2,1,3,3,0,1,1,2,0.088062
3,52,2,1,7,4,1,2,1,3,3,...,3,4,18,4,3,6,4,0,9,0.497574
4,33,2,1,15,1,3,2,1,3,3,...,3,4,15,2,4,6,7,1,8,0.664470

In [101]:
# Validación final de estructura del Frame

EmpleadosAttrition.info()
EmpleadosAttrition.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       400 non-null    int64
 1   BusinessTravel            400 non-null    int64
 2   Department                400 non-null    int64
 3   DistanceFromHome_km       400 non-null    int64
 4   Education                 400 non-null    int64
 5   EducationField            400 non-null    int64
 6   EnvironmentSatisfaction   400 non-null    int64
 7   Gender                    400 non-null    int64
 8   JobInvolvement            400 non-null    int64
 9   JobLevel                  400 non-null    int64
 10  JobRole                   400 non-null    int64
 11  JobSatisfaction           400 non-null    int64
 12  MaritalStatus             400 non-null    int64
 13  NumCompaniesWorked        400 non-null    int64
 14  OverTime                  400 non-null    int64
 15  PercentSalaryHike         400 non-null    int64
 16  PerformanceRating         400 non-null    int64
 17  RelationshipSatisfaction  400 non-null    int64
 18  TotalWorkingYears         400 non-null    int64
 19  TrainingTimesLastYear     400 non-null    int64
 20  WorkLifeBalance           400 non-null    int64
 21  YearsInCurrentRole        400 non-null    int64
 22  YearsSinceLastPromotion   400 non-null    int64
 23  Attrition                 400 non-null    int64
 24  YearsAtCompany            400 non-null    int64
 25  MonthlyIncome_scaled      400 non-null    float64
dtypes: float64(1), int64(25)
memory usage: 81.4 KB

,Age,BusinessTravel,Department,DistanceFromHome_km,Education,EducationField,EnvironmentSatisfaction,Gender,JobInvolvement,JobLevel,...,PerformanceRating,RelationshipSatisfaction,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsInCurrentRole,YearsSinceLastPromotion,Attrition,YearsAtCompany,MonthlyIncome_scaled
count,400.000000,400.00000,400.00000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,...,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000,400.000000
mean,38.115000,1.60500,1.28750,9.527500,2.920000,2.100000,2.675000,0.577500,2.685000,2.162500,...,3.187500,2.697500,12.082500,2.767500,2.775000,4.505000,2.555000,0.165000,8.252500,0.311196
std,8.761489,0.67462,0.50047,8.336245,1.058963,1.238481,1.114666,0.494576,0.736295,1.124391,...,0.390801,1.097271,7.758943,1.299101,0.667449,3.780967,3.677742,0.371645,6.002818,0.258308
min,18.000000,0.00000,0.00000,1.000000,1.000000,0.000000,1.000000,0.000000,1.000000,1.000000,...,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,31.000000,1.00000,1.00000,2.000000,2.000000,1.000000,2.000000,0.000000,2.000000,1.000000,...,3.000000,2.000000,7.000000,2.000000,2.000000,2.000000,0.000000,0.000000,4.000000,0.106939
50%,38.000000,2.00000,1.00000,8.000000,3.000000,2.000000,3.000000,1.000000,3.000000,2.000000,...,3.000000,3.000000,10.000000,3.000000,3.000000,3.000000,1.000000,0.000000,6.000000,0.222711
75%,44.000000,2.00000,2.00000,14.000000,4.000000,3.000000,4.000000,1.000000,3.000000,3.000000,...,3.000000,4.000000,17.000000,3.000000,3.000000,7.000000,4.000000,0.000000,11.000000,0.462745
max,60.000000,3.00000,2.00000,29.000000,5.000000,5.000000,4.000000,1.000000,4.000000,5.000000,...,4.000000,4.000000,37.000000,6.000000,4.000000,17.000000,15.000000,1.000000,34.000000,1.000000

In [106]:

# Calcular la correlación de todas las variables con Attrition
correlation_with_attrition = EmpleadosAttrition.corr()['Attrition'].sort_values(ascending=False)

# Filtrar solo variables donde el valor absoluto del coeficiente de correlacion sea mayor o igual a 0.1
correlation_with_attrition_best = correlation_with_attrition[abs(correlation_with_attrition) >= 0.1]

# Mostrar las correlaciones significativas (mayor a 0.1)
correlation_with_attrition_best

Attrition                  1.000000
OverTime                   0.324777
MaritalStatus              0.192430
EnvironmentSatisfaction   -0.124327
JobSatisfaction           -0.164957
JobInvolvement            -0.166785
YearsAtCompany            -0.176001
MonthlyIncome_scaled      -0.194936
YearsInCurrentRole        -0.203918
Age                       -0.212121
TotalWorkingYears         -0.213329
JobLevel                  -0.214266
Name: Attrition, dtype: float64

In [109]:
# Extrar del dataframe original un nuevo dataframe con solo las columnas que tiene una correlacion significativa con Attrition

# Obtener nombres de columnas
significant_columns = correlation_with_attrition_best.index.tolist()
significant_columns

# Usar los nombres de las columnas para crear el nuevo dataframe

EmpleadosAttritionFinal = EmpleadosAttrition[significant_columns]
EmpleadosAttritionFinal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Attrition                400 non-null    int64
 1   OverTime                 400 non-null    int64
 2   MaritalStatus            400 non-null    int64
 3   EnvironmentSatisfaction  400 non-null    int64
 4   JobSatisfaction          400 non-null    int64
 5   JobInvolvement           400 non-null    int64
 6   YearsAtCompany           400 non-null    int64
 7   MonthlyIncome_scaled     400 non-null    float64
 8   YearsInCurrentRole       400 non-null    int64
 9   Age                      400 non-null    int64
 10  TotalWorkingYears        400 non-null    int64
 11  JobLevel                 400 non-null    int64
dtypes: float64(1), int64(11)
memory usage: 37.6 KB

In [112]:
from sklearn.decomposition import PCA

# Crear un objeto PCA.
pca = PCA()

# Ajustar el modelo PCA a los datos en EmpleadosAttritionFinal (excluyendo 'Attrition')
EmpleadosAttritionPCA = pca.fit_transform(EmpleadosAttritionFinal.drop('Attrition', axis=1))

In [120]:
# Calcular y mostrar la varianza explicada por cada componente principal
variance_explained_percentage = pca.explained_variance_ratio_ * 100

# Formatear la salida con 3 decimales
formatted_variance = [f'{var:.3f}%' for var in variance_explained_percentage]

# Imprimir los resultados
print("Varianza explicada por cada componente principal:")
for i, var in enumerate(formatted_variance):
    print(f"Componente {i}: {var}")

Varianza explicada por cada componente principal:
Componente 0: 63.563%
Componente 1: 24.204%
Componente 2: 7.903%
Componente 3: 2.106%
Componente 4: 0.652%
Componente 5: 0.643%
Componente 6: 0.290%
Componente 7: 0.279%
Componente 8: 0.257%
Componente 9: 0.101%
Componente 10: 0.003%

In [114]:
# Calcular la varianza explicada acumulada
Porcentaje_Varianza_Explicada_Acum = np.cumsum(pca.explained_variance_ratio_)

# Identificar componentes que explican al menos el 80% de la varianza
componentes_80 = np.argmax(Porcentaje_Varianza_Explicada_Acum >= 0.80) + 1

print(f"Número de componentes que explican el 80% de la varianza: {componentes_80}")

Número de componentes que explican el 80% de la varianza: 2

In [122]:
# Crear un DataFrame con las componentes principales seleccionadas
pca_df = pd.DataFrame(EmpleadosAttritionPCA[:, :componentes_80],
                      columns=[f'C{i}' for i in range(componentes_80)])

# Agregar las componentes principales a EmpleadosAttritionFinal usando assign
EmpleadosAttritionFinal = EmpleadosAttritionFinal.assign(**pca_df)

EmpleadosAttritionFinal.head()

,Attrition,OverTime,MaritalStatus,EnvironmentSatisfaction,JobSatisfaction,JobInvolvement,YearsAtCompany,MonthlyIncome_scaled,YearsInCurrentRole,Age,TotalWorkingYears,JobLevel,C0,C1
0,0,0,0,4,4,3,6,0.864269,4,50,32,4,20.248643,-4.208658
1,0,0,0,2,2,3,4,0.207340,2,36,7,2,-6.380962,-3.689128
2,1,0,2,2,2,3,2,0.088062,0,21,1,1,-21.505481,1.741976
3,0,0,2,2,2,3,9,0.497574,6,52,18,3,13.822405,-5.843603
4,1,1,1,2,3,3,8,0.664470,6,33,15,3,-1.429573,4.146125

In [123]:
# Guardar resultados

EmpleadosAttritionFinal.to_csv('EmpleadosAttritionFinal.csv', index=False)